.idea
*.pyc
__pycache__
weights
geomloss
flownet3d.pytorch
torchdiffeq
torchdiffeq_mine
torchdiffeq_prev
robot/experiments/datasets/toy/shapes
robot/experiments/datasets/lung/output
robot/experiments/datasets/lung/data_preprocessing
robot/experiments/datasets/unpub_face
robot/experiments/datasets/bellus_face
robot/experiments/datasets/airway
robot/experiments/datasets/dhface
robot/experiments/datasets/scanner
robot/experiments/datasets/framefit_*
robot/experiments/datasets/fdome
robot/experiments/datasets/scanner_variation
#robot/experiments/datasets/flying3d_and_kitti/calib_cam_to_cam
#robot/demos/data/lung_data/lung_vessel_demo_data
robot/demos/output
robot/demos/unpublic
TEASER-plusplus
probreg
robot/debugging
robot/debug
/robot/experiments/settings
*.npy
*.ply
*.jpg
*.obj
/robot/experiments/datasets/modelnet40/model/
